[
    %% Set a resource server ID. Will require all scopes to be prefixed with `rabbitmq.`
    {rabbitmq_auth_backend_oauth2, [
        % Set up a legacy signing key
        {key_config, [
            {signing_keys, #{
                <<"legacy-token-key">> =>
                    {map, #{
                        <<"alg">> => <<"HS256">>,
                        <<"value">> => <<"legacy-token-key">>,
                        <<"kty">> => <<"MAC">>,
                        <<"use">> => <<"sig">>}
                    }
                }
            } %% signing keys
        ]} % key_config
    ]} % rabbitmq_auth_backend_oauth2
].
