[
  {rabbitmq_auth_backend_oauth2, [
    {scope_aliases, #{
      <<"api://rabbitmq:Read.All">>      => [<<"rabbitmq.read:*/*">>],
      <<"api://rabbitmq:Write.All">>     => [<<"rabbitmq.write:*/*">>],
      <<"api://rabbitmq:Configure.All">> => [<<"rabbitmq.configure:*/*">>],
      <<"api://rabbitmq:Administrator">> => [<<"rabbitmq.tag:administrator">>],
      <<"api://rabbitmq:producer">> => [
        <<"rabbitmq.read:*/*">>,
        <<"rabbitmq.write:*/*">>,
        <<"rabbitmq.configure:*/*">>,
        <<"rabbitmq.tag:management">>
      ]
    }}
  ]}
].
