auth_backends.1 = rabbit_auth_backend_oauth2

log.console.level = debug

management.oauth_enabled = true
management.oauth_client_id = {Client ID}
management.oauth_scopes = openid profile rabbitmq.tag:administrator

auth_oauth2.resource_server_id = rabbitmq
auth_oauth2.issuer = {Domain}
auth_oauth2.https.hostname_verification = wildcard
