[
  {
    rabbitmq_auth_backend_oauth2,
    [
      {resource_server_id, <<"<your_id>.apps.googleusercontent.com">>},
      {scope_aliases, #{
          <<"https://www.googleapis.com/auth/userinfo.profile">> => [
            <<"rabbitmq.read:*/*">>,
            <<"rabbitmq.write:*/*">>,
            <<"rabbitmq.configure:*/*">>,
            <<"rabbitmq.tag:administrator">>
          ]
        }}
  ]}
].
