[
    %% Set a resource server ID. Will require all scopes to be prefixed with `rabbitmq.`
    {rabbitmq_auth_backend_oauth2, [
        {scope_aliases, #{
            <<"admin">> => [
              <<"{okta_client_app_ID}.read:*/*">>,
              <<"{okta_client_app_ID}.write:*/*">>,
              <<"{okta_client_app_ID}.configure:*/*">>,
              <<"{okta_client_app_ID}.tag:administrator">>
            ],

            <<"monitoring">> => [
              <<"{okta_client_app_ID}.read:*/*">>,
              <<"{okta_client_app_ID}.tag:management">>
            ]


        }}
    ]} % rabbitmq_auth_backend_oauth2
].
