[
    %% Set a resource server ID. Will require all scopes to be prefixed with `rabbitmq.`
    {rabbitmq_auth_backend_oauth2, [
        {scope_aliases, #{
            <<"admin">> => [
              <<"okta.read:*/*">>,
              <<"okta.write:*/*">>,
              <<"okta.configure:*/*">>,
              <<"okta.tag:administrator">>
            ],

            <<"monitoring">> => [
              <<"okta.read:*/*">>,
              <<"okta.tag:management">>
            ]


        }}
    ]} % rabbitmq_auth_backend_oauth2
].
