[
  {
    rabbit,
    [
      {auth_backends, [rabbit_auth_backend_oauth2]}
    ]
  },
  {
    rabbitmq_management,
    [
      {oauth_enabled, true},
      {enable_uaa, true},
      {oauth_metadata_url, "{okta-domain-name}/oauth2/default/.well-known/oauth-authorization-server"},
      {oauth_client_id, "{okta_client_app_ID}"},
      {oauth_provider_url, "{okta-domain-name}/oauth2/default"},
      {oauth_scopes, "admin monitoring"}
    ]
  },
  {
    rabbitmq_auth_backend_oauth2,
    [
      {resource_server_id, <<"{okta_client_app_ID}">>},
      {scope_aliases, #{
          <<"admin">> => [
            <<"{okta_client_app_ID}.read:*/*">>,
            <<"{okta_client_app_ID}.write:*/*">>,
            <<"{okta_client_app_ID}.configure:*/*">>,
            <<"{okta_client_app_ID}.tag:administrator">>
          ],

          <<"monitoring">> => [
            <<"{okta_client_app_ID}.read:*/*">>,
            <<"{okta_client_app_ID}.tag:management">>
          ]


        }},
      {extra_scopes_source, <<"role">>},
      {key_config,
      [
        {jwks_url, <<"{okta-domain-name}/oauth2/default/v1/keys">>}
      ]}
  ]}
].