auth_backends.1 = rabbit_auth_backend_oauth2

management.oauth_enabled = true
management.oauth_client_id = {okta_client_app_ID}
management.oauth_scopes = admin monitoring

auth_oauth2.resource_server_id = {okta_client_app_ID}
auth_oauth2.issuer = {okta-domain-name}/oauth2/default
#Okta supports two openid discovery endpoints. The standard and .well-known/oauth-authorization-server
#Comment out this following line if the standard path does not work
#auth_oauth2.discovery_endpoint_path = .well-known/oauth-authorization-server
auth_oauth2.additional_scopes_key = role
auth_oauth2.verify_aud = false
auth_oauth2.scope_prefix = okta.
auth_oauth2.https.hostname_verification = wildcard

management.ssl.port = 15671
management.ssl.cacertfile = /conf/certs/cacert.pem
management.ssl.certfile = /conf/certs/cert.pem
management.ssl.keyfile = /conf/certs/key.pem
management.ssl.verify = verify_none
management.ssl.fail_if_no_peer_cert = false
management.ssl.client_renegotiation = false
management.ssl.secure_renegotiate = true
management.ssl.honor_ecc_order = true
management.ssl.honor_cipher_order = true
