auth_backends.1 = rabbit_auth_backend_oauth2

management.oauth_enabled = true
management.oauth_client_id = {okta_client_app_ID}
management.oauth_scopes = admin monitoring

auth_oauth2.resource_server_id = {okta_client_app_ID}
auth_oauth2.issuer = {okta-domain-name}/oauth2/default
auth_oauth2.discovery_endpoint_path = .well-known/oauth-authorization-server
auth_oauth2.additional_scopes_key = role
#auth_oauth2.jwks_url = {okta-domain-name}/oauth2/default/v1/keys
