auth_backends.1 = rabbit_auth_backend_oauth2

log.console.level = debug

management.oauth_enabled = true
management.oauth_client_id = {Application(client) ID}
management.oauth_scopes = openid profile api://{Application(client) ID}/rabbitmq

auth_oauth2.resource_server_id = {Application(client) ID}
auth_oauth2.additional_scopes_key = roles
auth_oauth2.jwks_url = https://login.microsoftonline.com/{Directory (tenant) ID}/discovery/v2.0/keys
auth_oauth2.preferred_username_claims.1 = name
auth_oauth2.preferred_username_claims.2 = preferred_username
