auth_backends.1 = rabbit_auth_backend_oauth2

management.oauth_enabled = true
management.oauth_client_id = {Application(client) ID}
management.oauth_scopes = openid profile api://{Application(client) ID}/rabbitmq

auth_oauth2.resource_server_id = {Application(client) ID}
auth_oauth2.additional_scopes_key = roles
auth_oauth2.issuer = https://login.microsoftonline.com/{Directory (tenant) ID}/v2.0
#include the following line if your app has a custom signing key
#auth_oauth2.discovery_endpoint_params.appid = {Application(client) ID}
auth_oauth2.preferred_username_claims.1 = name
auth_oauth2.preferred_username_claims.2 = preferred_username