[
  {rabbit, [
    {auth_backends, [rabbit_auth_backend_oauth2]}
  ]},
   {rabbitmq_management, [
     {oauth_enable, true},
     {oauth_client_id, "ffxcvJb6byeNG1Qr6us0Mg0Jp5HyzwwV"},
     {oauth_client_secret, "b9Ha9nA_VfFt_uDUjrEbetxrLgTtMupbOroseiDnygwvX-yFr1l4KSJufwqzdRbZ"},
     {oauth_scopes, "openid profile rabbitmq.tag:administrator"},
     {oauth_provider_url, "https://dev-prbc0gw4.us.auth0.com"}
  ]},
  {rabbitmq_auth_backend_oauth2, [
    {resource_server_id, <<"rabbitmq">>},
    {key_config, [
      {default_key, <<"LQPlyC9P_gOhzMLx7r2Qm">>},
      {signing_keys,
        #{<<"LQPlyC9P_gOhzMLx7r2Qm">> => {pem, <<"-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuELzgXF5ZiEMkA0EnRii
Nf1pck5SkzK4HN6y+Zvy9F2e2soJ/i7acaVX0z5O1Fj2ez0UIe1cwJxurTdlFHQD
MAHD6Mhr5vhY+UEACk9QXp5jbRQwApzEnmDoEuKKVFmTK9Jvm+339kRWz6vv/CqB
cMWSVjp+bnd+XosA8SwKSboQ9Vs4LdJi0fqIOyu2o+FRkf6p5qPMYLndJAKZfwSg
aeCgC2hpBiylBsYBdHQEmawgcUjW+CKAOaMEix/799jRjpXkmUFxZ+H/wbLnu880
/bqJidYlvoJt88skYlzqmAxf/BWhaudVkiqtFNZcr2kwsZk/O+7GNFk4N0/UdE4Y
CwIDAQAB
-----END PUBLIC KEY-----">>}
         }
      }]
    }
  ]}
].
