[
  {rabbit, [
   {auth_backends, [rabbit_auth_backend_oauth2, rabbit_auth_backend_internal]}
  ]},
  {rabbitmq_management, [
    {listener, [{port,    15671},
                {ssl,      true},
                {ssl_opts, [{cacertfile, "/etc/rabbitmq/rabbitmq-ca.crt"},
                           {certfile,   "/etc/rabbitmq/rabbitmq.crt"},
                           {keyfile,    "/etc/rabbitmq/rabbitmq.key"},

                           %% don't do peer verification to HTTPS clients
                           {verify,               verify_none},
                           {fail_if_no_peer_cert, false},

                           {client_renegotiation, false},
                           {secure_renegotiate,   true},
                           {honor_ecc_order,      true},
                           {honor_cipher_order,   true}
                 ]}
     ]},
     {oauth_enable, true},
     {oauth_client_id, "PUT YOUR AZURE AD APPLICATION ID"},
     {oauth_client_secret, "PUT YOUR AZURE AD APPLICATION SECRET"},
     {oauth_provider_url, "https://login.microsoftonline.com/AZURE_AD_TENANT_ID"}

 ]},
 {rabbitmq_auth_backend_oauth2, [
   {resource_server_id, <<"PUT YOUR AZURE AD APPLICATION ID">>},
   {extra_scopes_source, <<"roles">>},
   {key_config, [
     {jwks_url, <<"PUT YOUR AZURE AD JWKS URI VALUE">>}
   ]}
  ]}
 ].
