[
  {rabbit, [
   {auth_backends, [rabbit_auth_backend_oauth2, rabbit_auth_backend_internal]}
  ]},
  {rabbitmq_management, [
    {listener, [{port,    15671},
                {ssl,      true},
                {ssl_opts, [{cacertfile, "/etc/rabbitmq/rabbitmq-ca.crt"},
                           {certfile,   "/etc/rabbitmq/rabbitmq.crt"},
                           {keyfile,    "/etc/rabbitmq/rabbitmq.key"},

                           %% don't do peer verification to HTTPS clients
                           {verify,               verify_none},
                           {fail_if_no_peer_cert, false},

                           {client_renegotiation, false},
                           {secure_renegotiate,   true},
                           {honor_ecc_order,      true},
                           {honor_cipher_order,   true}
                 ]}
     ]},
     {oauth_enabled, true},
     {oauth_client_id, "0e4305ff-3df1-4695-b2c7-ef804cf9c105"},     
     {oauth_provider_url, "https://login.microsoftonline.com/b39138ca-3cee-4b4a-a4d6-cd83d9dd62f0"}

 ]},
 {rabbitmq_auth_backend_oauth2, [
   {resource_server_id, <<"0e4305ff-3df1-4695-b2c7-ef804cf9c105">>},
   {extra_scopes_source, <<"roles">>},
   {key_config, [
     {jwks_url, <<"https://login.microsoftonline.com/b39138ca-3cee-4b4a-a4d6-cd83d9dd62f0/discovery/v2.0/keys">>}
   ]}
  ]}
 ].
